html {
    scroll-behavior: smooth;
}

main {
    margin: 0;
    padding: 0px;
    background-color: #f5f5f5;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

h2 {
    text-align: center;
    text-decoration: underline 3px;
    color: #3d85c6;
}

h3 {
    text-shadow: 1px 2px 2px grey;    
}

span {
    font-weight: 600;
}

#structurePresentation {
    background-color: #f5f5f5;
    margin-top: -21px;
    padding-bottom: 50px;
}

#titleHome {
    text-align: center;
    padding-top: 20px;
    color: #3d85c6;
}

#presentation {
    text-align: center;
}

span {
    color: #3d85c6;
}

/*Photo Accueil*/
#structurePhoto {
    display: flex;
    justify-content: center;
}

#photoHome {
    border: solid 5px black ;
    border-radius: 20%;
}

/*Compétences*/
#ancreComp {
    padding-bottom: 50px;
    background-color: white;
    padding-top: 50px;
    margin: 0;
    color: #3d85c6;
}

#competences {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
    background-color: white;
}

.comp {
    display: flex;
    flex-direction: column;
}

.comp p {
    text-align: center;
    -webkit-text-stroke: thin;
}

.imageComp {
    height: 50px;
    width: auto;
    object-fit: contain;
}

/*Projets*/
#projets {
    padding-top: 50px;
}

.titreProjet {
    font-size: xx-large;
    margin-bottom: 30px;
    color: #3d85c6;
}

.photosProjet {
    height: 1000px;
    width: 1000px;
    border: solid black 3px;
    z-index: 1;
}

.projet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.projet p {
    text-wrap: wrap;
    max-width: 800px;
    text-align: center;
    margin-top: 35px;
}

.projet a {
    text-decoration-color: black;
    color: grey;
}


@media (max-width: 767.98px) {
    #titleHome {
        padding-top: 20px;
    }

    #photoHome {
        height: 200px;
        width: 150px;
    }

    #competences {
        gap: 30px;
    }

    .titreProjet {
        font-size: x-large;
    }

    .slideshow {
        margin-left: 10px;
    }

    .slideshow .photo {
        width: 95%;
    }

    .slideshow .flecheDroite {
        right: 13px;
    }
}