#titleHome {
    text-align: center;
}

#presentation {
    text-align: center;
}

/*Photo Accueil*/
#structurePhoto {
    display: flex;
    justify-content: center;
}

#photoHome {
    border: solid 5px black ;
    border-radius: 20%;
}

/*Compétences*/
#competences {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.comp {
    display: flex;
    flex-direction: column;
}

.comp p {
    text-align: center;
}

.imageComp {
    height: 50px;
    width: auto;
    object-fit: contain;
}

/*Projets*/
.titreProjet {
    font-size: xx-large;
    margin-bottom: 10px;
}

.photosProjet {
    height: 1000px;
    width: 1000px;
    border: solid black 3px;
}

.projet {
    display: flex;
    flex-direction: column;
    align-items: center;
}