.photo {
    max-height: 1000px;
    height: auto;
    width: 100%;
}

.photo {
    height: 600px;
    width: 900px;
}

.titreLien {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.Logo {
    height: 35px;
    width: 35px;
    z-index: 10;
}

.Logo:hover {
    opacity: 0.6;
}

#lienLogos {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

/* #lienLogos .Logo:hover {
    box-shadow: 0 0 10px 3px white;
    border-radius: 25px;
} */
#lienLogos #lienGithub:hover, #lienFigma:hover, #lienSite:hover {
    box-shadow: 0 0 10px 3px white;
    border-radius: 25px;
}

#description {
    margin-left: 35px;
    margin-bottom: 35px;
}


@media (max-width: 950px) {
    .Logo {
        height: 25px;
        width: 25px;
    }

    #lienLogos {
        margin-left: 10px;
        gap: 5px;
    }

    .photo {
        height: 300px;
        object-fit: fill;
        width: 100%;
    }

    .orgaProjet {
        /* height: 500px;
        width: 300px; */
        height: 500px;
        width: 80%;
    }

    .slideshow .photo {
        height: 375px;
        width: 100%;
    }
}


@media (max-width: 650px) {
    .slideshow .photo {
        height: 300px;
        width: 100%;
    }
}